<div class='container'>
  <%= form_tag('/') do %>
    <div class="form-group">
      <%= @transaction_result %>
    </div>
    <p>Select user or teem for credit transaction</p>
    <div class="form-group row">
      <%= label_tag(:user_from, 'User from', class: 'col-sm-2 col-form-label') %>
      <div class='col-sm-10'>
    	  <%= select_tag :user_from, options_from_collection_for_select(@users, "id", "name_with_score_balans"), include_blank: true, class: 'form-control' %> 
  	  </div>
    </div>
    <div class="form-group row">
      <%= label_tag(:teem_from, 'Or teem from', class: 'col-sm-2 col-form-label') %>
      <div class='col-sm-10'>
        <%= select_tag :teem_from, options_from_collection_for_select(@teems, "id", "name_with_score_balans"), include_blank: true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
    	<%= label_tag(:user_to, 'User to', class: 'col-sm-2 col-form-label') %>
      <div class='col-sm-10'>
    	 <%= select_tag :user_to, options_from_collection_for_select(@users, "id", "name_with_score_balans"), include_blank: true, class: 'form-control' %>
  	  </div>
    </div>
    <div class='form-group row'>
      <%= label_tag(:teem_to, 'Or teem to', class: 'col-sm-2 col-form-label') %>
      <div class='col-sm-10'>
        <%= select_tag :teem_to, options_from_collection_for_select(@teems, "id", "name_with_score_balans"), include_blank: true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
    	<%= label_tag(:price, 'Price', class: 'col-sm-2 col-form-label') %>
      <div class='col-sm-10'>
    	  <%= text_field_tag(:price, '',  class: 'form-control') %>
      </div>
  	</div>
    <div class="form-group">
  	  <%= submit_tag('Transfer', class: 'btn btn-primary') %>
    </div>
	<% end %>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Object</th>
          <th>Type transaction</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.name %></td>
            <td><%= transaction.type %></td>
            <td><%= transaction.type === 'DebitTransaction' ? "-#{transaction.price}" : "+#{transaction.price}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
