<div>
  <p><%= @transaction_result %></p>
  <%= form_tag('/') do %>
    <p>Select user or teem for credit transaction</p>
  	<%= label_tag(:user_from, 'User from') %>
  	<%= select_tag :user_from, options_from_collection_for_select(@users, "id", "name"), include_blank: true %>
  	<%= label_tag(:teem_from, 'Or teem from') %>
  	<%= select_tag :teem_from, options_from_collection_for_select(@teems, "id", "name"), include_blank: true %>
  	<br><br>
  	<%= label_tag(:user_to, 'User to') %>
  	<%= select_tag :user_to, options_from_collection_for_select(@users, "id", "name"), include_blank: true %>
  	<%= label_tag(:teem_to, 'Or teem to') %>
  	<%= select_tag :teem_to, options_from_collection_for_select(@teems, "id", "name"), include_blank: true %>
  	<br><br>
  	<%= label_tag(:price, 'Price') %>
  	<%= text_field_tag(:price) %>
  	<br><br>
  	<%= submit_tag('Confirm') %>
	<% end %>
</div>
