<% if @transaction&.errors %>
  <div class='d-flex justify-content-center flex-column w-50 mx-auto'>
    <% if @transaction.errors.any? %>
      <% @transaction.errors.full_messages.each do |error| %>
        <div class='alert-danger'><%= error %></div>
      <% end %>
    <% else %>
      <div>Transaction have done success</div>
    <% end %>
  </div>
<% end %>
<div class='container'>
  <%= form_tag(root_path) do %>
    <div class="form-group">
      <%= @transaction_result %>
    </div>
    <p>Select user or teem for credit transaction</p>
    <div class="form-group row">
      <%= label_tag(:score_from, 'Score from', class: 'col-sm-2 col-form-label') %>
      <div class='col-sm-10'>
    	  <%= select_tag :from_score_id, options_from_collection_for_select(@collection, "score_id", "name_with_score_balans"), include_blank: true, class: 'form-control' %>
  	  </div>
    </div>
    <div class="form-group row">
    	<%= label_tag(:score_to, 'Score to', class: 'col-sm-2 col-form-label') %>
      <div class='col-sm-10'>
    	 <%= select_tag :to_score_id, options_from_collection_for_select(@collection, "score_id", "name_with_score_balans"), include_blank: true, class: 'form-control' %>
  	  </div>
    </div>
    <div class="form-group row">
    	<%= label_tag(:price, 'Amount', class: 'col-sm-2 col-form-label') %>
      <div class='col-sm-10'>
    	  <%= text_field_tag(:amount, '',  class: 'form-control') %>
      </div>
  	</div>
    <div class="form-group">
  	  <%= submit_tag('Transfer', class: 'btn btn-primary') %>
    </div>
	<% end %>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Object</th>
          <th>Type transaction</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
         <tr>
           <td><%= transaction.from_score.objectable.name %></td>
           <td>Debit</td>
           <td><%= "-#{transaction.amount}" %></td>
         </tr>
        <tr>
          <td><%= transaction.to_score.objectable.name  %></td>
          <td>Credit</td>
          <td><%= "+#{transaction.amount}" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
